@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --po: "Passion One";
    --ver: Verdana, Geneva, Tahoma, sans-serif;
    --sri: "Sriracha"
}

* {
    margin: 0px;
}

main {
    min-width: 480px;
    max-width: 1800px;
}

header {
    min-width: 480px;
    max-width: 1800px;
}

header h1 {
    font-family: var(--po);
    font-weight: bold;
    color: white;
    font-size: 128px;
    text-align: center;
    padding: 50px 0px 0px 0px;
}

header h1:hover {
    text-decoration: underline;
}

header > p > span:hover {
    text-decoration: underline;
}

header {
    background-color: black;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

p span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

section p {
    font-family: var(--sri);
    font-size: 44px;
    padding: 65px 0px 10px 30px;
}

section#img1 {
    background-image: url("pacote-d012/imagens/background001.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    background-position: center center;
}

section#img1 p {
    display: inline-block;
    background-color: #00000083;
    color: white;
}

section#img2 {
    background-image: url("pacote-d012/imagens/background002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: aqua;
}

section#img2 p {
    display: inline-block;
    background-color:  #00000083;
    color: white;
}

footer {
    font-family: var(--ver);
    color: white;
    background-color:  black;
    text-align: center;
    padding: 8px;
}

footer p:hover {
    text-decoration: underline;
}